<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Blind!</title>
</head>
<body>
  <div>
    <h2>Blind Home</h2>
    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>

    <span sec:authentication="name"></span>님
    <div sec:authentication="principal.authorities"></div>
    <hr>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
  </div>
</body>
</html>